* {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
a:active {
  color: blue;
}
a:active i {
  scale: 1.1;
}
