.container_home {
  position: relative;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.page {
  scroll-snap-align: start;
}
.button_er {
  position: absolute;
  top: 0px;
  right: 20%;
  background-color: #551a8b;
  width: max-content;
  height: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1000;
}
.button_er button {
  box-shadow: none;
}

.button_er button i {
  font-size: 12px;
  transition: 0.3s ease-in-out;
}
.button_er:hover button i {
  scale: 1.3;
}
